$background: #b2e59b;
$font1: #1a1a1a;
$font2: #414141;
$bigText: 30px;
$mediumText: 25px;
$normalText: 22px;
$smallText: 18px;

$bp-xlg: 1900px;
$bp-lg: 1600px;
$bp-md: 1200px;
$bp-sm: 800px;
$bp-xsm: 600px;
$bp-phone: 400px;
$nav-align: row;
:root {
  --nav-bg-font: 55px;
  --project-card-title: 22px;
  --nav-sm-font: 40px;
  --modal-pad: 30px;
  --modal-width: 700px;
  --about-width: 1000px;
  --nav-filter-h: 140px;
  --nav-h: 60px;
  --shift-project: 200px;
  --shift-layers: 0px;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "custom_regular";
  src: local("custom_regular"), url(./fonts/custom_regular.otf) format('opentype');
}

@font-face {
  font-family: "custom_bolder";
  src: local("custom_bolder"), url(./fonts/custom_bolder.otf) format('opentype');
}

body {
  color: #2f2f2f;
}


.App {
  font-family: "custom_regular", sans-serif;
  z-index: -1;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(290deg, rgba(141, 104, 179, 0.41) 0%, rgba(141, 104, 179, 0.12) 100%),
  linear-gradient(70deg, rgba(248, 128, 128, 0.31) 0%, transparent 50%, rgba(127, 158, 204, 0.25) 100%),
  #FFFFFF;
  //filter: invert(1);
}


.navContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: $nav-align;
  align-items: stretch;
  transition: 0.6s;

  .navElement {
    font-family: "custom_bolder", sans-serif;

    transition: 0.6s;
    background: rgba(65, 65, 65, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f1f1f1;
    font-size: var(--nav-bg-font);
    width: (100%/3);

    &.clickable {
      cursor: pointer;

      &:hover {

        box-shadow: #FFFFFF 0 0 100px 20px;
        z-index: 1;
        background: rgba(65, 65, 65, 0.36);
      }
    }
  }

  &.grow {
    height: 100%;
  }

  &.shrink {
    position: sticky;
    top: 0;
    height: var(--nav-h);
    //background: rgba(255, 255, 255, 0.45);
    .navElement {
      transition: 0.4s;
      background: rgba(65, 65, 65, 0);
      color: #3e3e3e;
      font-size: var(--nav-sm-font);
      cursor: pointer;

      &:hover {
        box-shadow: none;

        background: rgba(152, 152, 152, 0.29);
      }
    }
  }

}

.projectsContainer {
  mask-image: linear-gradient(to bottom, transparent, rgb(0, 0, 0) 10px);

  padding-bottom: 10px;
  //border-top: rgba(0, 0, 0, 0.38) solid 2px;
  transition: 0.6s;
  position: fixed;
  top: 100vh;
  height: calc(100vh - 175px);
  bottom: 0;
  padding-top: 20px;
  //left: 5%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-template-rows:  repeat(auto-fill, 240px);
  gap: 50px;
  max-width: 1200px;
  margin-bottom: 180px;
  justify-content: center;
  overflow: scroll;

  &.mounted {
    top: var(--nav-filter-h);
  }

  &.shiftDown {
    top: var(--shift-project);
  }

  .projectSmall {
    cursor: pointer;
    border-radius: 80px 80px 10px 10px;
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: 0.5s;
    height: 235px;

    .previewImage {
      transition: 0.5s;
      //border-radius: 80px 80px 0px 0px;
      height: 175px;
      object-fit: cover;
    }

    .projectTitle {
      font-size: var(--project-card-title);
      font-family: "custom_bolder", sans-serif;
      font-weight: normal;

      margin-top: -15px;
      padding: 35px 5px 15px 5px;
      transition: 0.5s;
    }

    .projectDescription {
      padding: 5px;
      transition: 0.5s;
      min-height: 30px;
    }

    &:hover {
      border-radius: 10px;

      .previewImage, .projectTitle, .projectDescription {
        transform: translate(0, -170%);
        //border-radius: revert;
      }
    }
  }

}

.tagsContainer {
  //overflow: hidden;
  font-size: 18px;
  transition: 0.5s;
  position: relative;
  top: 20px;
  max-width: 1200px;
  right: 10px;
  float: right;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.38);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;

  &:hover:not(.active) {
    background-color: rgba(255, 255, 255, 0.92);
  }

  .tagTitle {

    //font-size: 24px;
  }

  .tag, .close {
    overflow: hidden;
    width: 0;
    transition: 0.3s;
    opacity: 0;
  }

  &.active {
    right: revert;
    margin: 10px;
    float: revert;
    cursor: revert;
    width: auto;
    flex-wrap: wrap;
    height: revert;
    justify-content: stretch;
    background-color: transparent;

    .tag, .close {
      background-color: rgba(255, 255, 255, 0.75);
      margin: 5px;
      padding: 8px;
      border-radius: 4px;
      opacity: 1;
      cursor: pointer;
      width: revert;

      &.clicked {
        background-color: rgba(157, 156, 156, 0.84);

      }
    }

    .close {
      background-color: #F880804F;

      &:hover {
        background-color: rgba(174, 94, 94, 0.7);

      }
    }
  }
}

@mixin buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@mixin buttons {
  transition: 400ms;
  border-radius: 2px;
  margin: 5px;
  padding: 10px;
  white-space: nowrap;
  text-decoration: none;
  &:hover {
    //background: rgba(222, 222, 222, 0.94);
    box-shadow: 0 0px 4px black inset;
  }
}

.modalContainer {
  overflow-x: scroll;
  transition: 0.6s;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  cursor: w-resize;
  backdrop-filter: blur(0px);

  &.mounted {
    backdrop-filter: blur(6px);

    .modalProject {
      margin-top: 100px
    }
  }

  .modalProject {

    border-radius: 5px;
    transition: 0.5s;
    cursor: default;
    padding: var(--modal-pad);
    width: calc(var(--modal-width) - (2 * var(--modal-pad)));
    margin: auto;
    margin-top: 120vh;
    background-color: rgba(255, 255, 255, 0.82);

    .modalCover {
      width: 100%;
    }

    .modalName {
      text-align: center;
      margin: 50px;
    }

    .modalDesc {
      font-size: 20px;

      .descrParagraph {
        line-height: 24px;
        margin-bottom: 15px;
      }
    }

    .smallTitle {
      font-family: "custom_bolder", sans-serif;
      padding: 0;
      margin: 20px;
      margin-left: 0px;
      font-weight: normal;

    }

    .languages {
      white-space: nowrap;
      display: inline-block;
    }

    .languages:not(:last-child) {

      padding-right: 30px;
    }

    .linkContainer {
      @include buttonContainer;
      margin: 10px;

      .gitLink, .deployLink {
        @include buttons;

        &.deployLink {
          border: solid 2px #6976c5;
          color: #6976c5;
        }

        &.gitLink {
          color: #393737;
          border: solid 2px #393737;
        }
      }
    }
  }

}

.aboutContainer {
  overflow: scroll;
  width: 100vw;
  transition: 0.6s;
  height: calc(100vh - var(--nav-h) - 10px);
  position: fixed;
  top: 100vh;
  mask-image: linear-gradient(to bottom, transparent, rgb(0, 0, 0) 10px);

  &.mounted {
    top: var(--nav-h);
  }

  .aboutPage {
    padding: 30px 0 30px 0;

    overflow: hidden;
    border-radius: 5px;
    //height: 2800px;
    background-color: rgba(255, 255, 255, 0.79);
    margin: auto;
    margin-top: 20px;
    width: 100vw;
    max-width: var(--about-width);

    .introduction {

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
      gap: 20px;

      .textContainer {
        display: inline-block;
        padding: 20px;
        width: 600px;
        .text {
          font-size: 22px;
          line-height: 30px;
          //word-spacing: 5px;
          vertical-align: center;
          display: inline-block;
          &:first-child{
            padding-bottom: 5px;
          }
        }
      }

      .profilePict {
        width: 150px;
      }


      .buttons {

        @include buttonContainer;

        .link {
          @include buttons;

          &.linkedIn {
            border: solid 2px #6976c5;
            color: #6976c5;
          }

          &.github {
            color: #393737;
            border: solid 2px #393737;
          }


        }
      }
    }
  }

}

//#images, #images2 {
//  border-radius: 0 0 5px 5px;
//  overflow: hidden;
//  width: 100%;
//  position: relative;
//
//  -webkit-aspect-ratio: 5/1;
//  aspect-ratio: 5/1;
//  left: 0;
//  top: 0;
//  box-sizing: border-box;
//  filter: hue-rotate(10deg);

//.layers {
//
//  transition: 100ms;
//  position: absolute;
//  bottom: -2px;
//  left: 0;
//
//}

//#profile_pict {
//  //aspect-ratio:9/1;
//  width: 100px;
//  left: 250px;
//}

//  #layer1 {
//    aspect-ratio: 16/1;
//    width: 110%;
//    left: calc(-3px + var(--shift-layers) / 2);
//  }
//
//  #layer2 {
//    aspect-ratio: 9/1;
//    width: 120%;
//    left: calc(-3px + var(--shift-layers) * 1);
//
//  }
//
//  #layer3 {
//    aspect-ratio: 7/1;
//    //bottom: -11%;
//    width: 130%;
//    left: calc(-3px + var(--shift-layers) * 2);
//
//  }
//  &>*{
//    filter: drop-shadow(0 -2px 5px rgba(0, 0, 0, 0.42));
//
//  }
//}

#images {
  //position: fixed;
  transform: scaleY(-1);
}

@media (max-width: $bp-xsm) {
  :root {
    --project-card-title: 20px;
    --nav-bg-font: 40px;
    --nav-sm-font: 24px;
    --modal-width: 100%;
    --modal-pad: 15px;
    --nav-filter-h: 100px;
    --shift-project: 400px;
    --nav-h: 50px;
  }

  .aboutContainer>.aboutPage>.introduction>.textContainer {
    width: 100%;
  }

  .navContainer {
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    .navElement {
      width: 100%;
      flex: 1;
      //height: ;

    }

    &.shrink {
      height: var(--nav-h);
      background: rgba(132, 105, 244, 0.45);

      .navElement {
        height: 100%;

        &.clickable {
          display: none;
        }
      }
    }
  }

  .projectsContainer {
    height: calc(100vh - 145px);
    grid-template-columns: repeat(auto-fit, 250px);
    grid-template-rows:  repeat(auto-fill, 240px);
    gap: 10px;

    &.shiftDown {
      height: calc(100vh - 450px);
    }

    .projectSmall {
      height: 230px;

      .previewImage {
        transition: 0.5s;
      }
    }

  }

  .tagsContainer {
    top: 10px;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.53);
    height: 30px;
    //border-radius: 15px;
    .tagTitle {
      font-size: 20px;
    }

  }
  .modalContainer {

    .modalProject {

      .modalName {
        text-align: center;
        margin: 20px 0 20px 0;
      }

      .modalDesc {
        font-size: 18px;

      }


    }


  }
}

@media (max-width: $bp-phone) {
  //#images {
  //  margin-bottom: 50%;
  //
  //}
  .App {
    height: 90vh;
  }
  .aboutContainer {
    .aboutPage {
      margin-top: 0 !important;
      padding-bottom: 60px;

    }


  }
  //#images2 {
  //  display: none;
  //}
}

@media (min-width: $bp-xsm) and (max-width: $bp-sm) {
  :root {
    --nav-bg-font: 32px;
    --nav-sm-font: 28px;
    --modal-width: 100%;
    --modal-pad: 15px;
  }
  @media (min-width: 700px) {
    :root {
      --modal-pad: 30px;
      --modal-width: 700px;
    }
  }
}

@media(min-width: $bp-sm) and (max-width: $bp-md) {
  :root {
    --nav-sm-font: 32px;
    --nav-bg-font: 42px;
  }
}

@media(min-width: $bp-md) {
  :root {

  }
  $m-projects-p: calc((100vw - 1200px) / 2);
  .projectsContainer {
    left: $m-projects-p;

  }
  .tagsContainer {
    right: $m-projects-p;

    &.active {
      left: $m-projects-p;
    }
  }
}

