:root {
  --nav-bg-font: 55px;
  --project-card-title: 22px;
  --nav-sm-font: 40px;
  --modal-pad: 30px;
  --modal-width: 700px;
  --about-width: 1000px;
  --nav-filter-h: 140px;
  --nav-h: 60px;
  --shift-project: 200px;
  --shift-layers: 0px;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "custom_regular";
  src: local("custom_regular"), url(./fonts/custom_regular.otf) format("opentype");
}
@font-face {
  font-family: "custom_bolder";
  src: local("custom_bolder"), url(./fonts/custom_bolder.otf) format("opentype");
}
.App {
  font-family: "custom_regular", sans-serif;
  z-index: -1;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(290deg, rgba(141, 104, 179, 0.41) 0%, rgba(141, 104, 179, 0.12) 100%), linear-gradient(70deg, rgba(248, 128, 128, 0.31) 0%, transparent 50%, rgba(127, 158, 204, 0.25) 100%), #FFFFFF;
}

.navContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  transition: 0.6s;
}
.navContainer .navElement {
  font-family: "custom_bolder", sans-serif;
  transition: 0.6s;
  background: rgba(65, 65, 65, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;
  font-size: var(--nav-bg-font);
  width: 33.3333333333%;
}
.navContainer .navElement.clickable {
  cursor: pointer;
}
.navContainer .navElement.clickable:hover {
  box-shadow: #FFFFFF 0 0 100px 20px;
  z-index: 1;
  background: rgba(65, 65, 65, 0.36);
}
.navContainer.grow {
  height: 100%;
}
.navContainer.shrink {
  position: sticky;
  top: 0;
  height: var(--nav-h);
}
.navContainer.shrink .navElement {
  transition: 0.4s;
  background: rgba(65, 65, 65, 0);
  color: #3e3e3e;
  font-size: var(--nav-sm-font);
  cursor: pointer;
}
.navContainer.shrink .navElement:hover {
  box-shadow: none;
  background: rgba(152, 152, 152, 0.29);
}

.projectsContainer {
  mask-image: linear-gradient(to bottom, transparent, black 10px);
  padding-bottom: 10px;
  transition: 0.6s;
  position: fixed;
  top: 100vh;
  height: calc(100vh - 175px);
  bottom: 0;
  padding-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-template-rows: repeat(auto-fill, 240px);
  gap: 50px;
  max-width: 1200px;
  margin-bottom: 180px;
  justify-content: center;
  overflow: scroll;
}
.projectsContainer.mounted {
  top: var(--nav-filter-h);
}
.projectsContainer.shiftDown {
  top: var(--shift-project);
}
.projectsContainer .projectSmall {
  cursor: pointer;
  border-radius: 80px 80px 10px 10px;
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: 0.5s;
  height: 235px;
}
.projectsContainer .projectSmall .previewImage {
  transition: 0.5s;
  width: 100%;
}
.projectsContainer .projectSmall .projectTitle {
  font-size: var(--project-card-title);
  font-family: "custom_bolder", sans-serif;
  font-weight: normal;
  margin-top: -15px;
  padding: 35px 5px 25px 5px;
  transition: 0.5s;
}
.projectsContainer .projectSmall .projectDescription {
  padding: 5px;
  transition: 0.5s;
}
.projectsContainer .projectSmall:hover {
  border-radius: 10px;
}
.projectsContainer .projectSmall:hover .previewImage, .projectsContainer .projectSmall:hover .projectTitle, .projectsContainer .projectSmall:hover .projectDescription {
  transform: translate(0, -170%);
}

.tagsContainer {
  font-size: 18px;
  transition: 0.5s;
  position: relative;
  top: 20px;
  max-width: 1200px;
  right: 10px;
  float: right;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.38);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;
}
.tagsContainer:hover:not(.active) {
  background-color: rgba(255, 255, 255, 0.92);
}
.tagsContainer .tag, .tagsContainer .close {
  overflow: hidden;
  width: 0;
  transition: 0.3s;
  opacity: 0;
}
.tagsContainer.active {
  right: revert;
  margin: 10px;
  float: revert;
  cursor: revert;
  width: auto;
  flex-wrap: wrap;
  height: revert;
  justify-content: stretch;
  background-color: transparent;
}
.tagsContainer.active .tag, .tagsContainer.active .close {
  background-color: rgba(255, 255, 255, 0.75);
  margin: 5px;
  padding: 8px;
  border-radius: 4px;
  opacity: 1;
  cursor: pointer;
  width: revert;
}
.tagsContainer.active .tag.clicked, .tagsContainer.active .close.clicked {
  background-color: rgba(157, 156, 156, 0.84);
}
.tagsContainer.active .close {
  background-color: #F880804F;
}
.tagsContainer.active .close:hover {
  background-color: rgba(174, 94, 94, 0.7);
}

.modalContainer {
  overflow-x: scroll;
  transition: 0.6s;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  cursor: w-resize;
  backdrop-filter: blur(0px);
}
.modalContainer.mounted {
  backdrop-filter: blur(6px);
}
.modalContainer.mounted .modalProject {
  margin-top: 100px;
}
.modalContainer .modalProject {
  border-radius: 5px;
  transition: 0.5s;
  cursor: default;
  padding: var(--modal-pad);
  width: calc(var(--modal-width) - (2 * var(--modal-pad)));
  margin: auto;
  margin-top: 120vh;
  background-color: rgba(255, 255, 255, 0.82);
}
.modalContainer .modalProject .modalCover {
  width: 100%;
}
.modalContainer .modalProject .modalName {
  text-align: center;
  margin: 50px;
}
.modalContainer .modalProject .modalDesc {
  font-size: 20px;
}
.modalContainer .modalProject .smallTitle {
  margin: 20px;
}

.aboutContainer {
  overflow: scroll;
  width: 100vw;
  transition: 0.6s;
  height: calc(100vh - var(--nav-h) - 10px);
  position: fixed;
  top: 100vh;
  mask-image: linear-gradient(to bottom, transparent, black 10px);
}
.aboutContainer.mounted {
  top: var(--nav-h);
}
.aboutContainer .aboutPage {
  overflow: hidden;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.85);
  margin: auto;
  margin-top: 20px;
  width: 100vw;
  max-width: var(--about-width);
}
.aboutContainer .aboutPage .introduction {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}
.aboutContainer .aboutPage .introduction .text {
  font-size: 22px;
  line-height: 30px;
  vertical-align: center;
  display: inline-block;
  margin: 20px;
  width: 600px;
}
.aboutContainer .aboutPage .introduction .profilePict {
  width: 150px;
}
.aboutContainer .aboutPage .introduction .buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.aboutContainer .aboutPage .introduction .buttons .link {
  transition: 400ms;
  border-radius: 2px;
  margin: 5px;
  padding: 10px;
  white-space: nowrap;
  text-decoration: none;
}
.aboutContainer .aboutPage .introduction .buttons .link.linkedIn {
  border: solid 2px #6976c5;
  color: #6976c5;
}
.aboutContainer .aboutPage .introduction .buttons .link.github {
  color: #393737;
  border: solid 2px #393737;
}
.aboutContainer .aboutPage .introduction .buttons .link:hover {
  box-shadow: 0 0px 4px black inset;
}

#images, #images2 {
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  width: 100%;
  position: relative;
  -webkit-aspect-ratio: 5/1;
  aspect-ratio: 5/1;
  left: 0;
  top: 0;
  box-sizing: border-box;
  filter: hue-rotate(10deg);
}
#images .layers, #images2 .layers {
  transition: 100ms;
  position: absolute;
  bottom: -2px;
  left: 0;
}
#images #profile_pict, #images2 #profile_pict {
  width: 100px;
  left: 250px;
}
#images #layer1, #images2 #layer1 {
  aspect-ratio: 16/1;
  width: 110%;
  left: calc(-3px + var(--shift-layers) / 2);
}
#images #layer2, #images2 #layer2 {
  aspect-ratio: 9/1;
  width: 120%;
  left: calc(-3px + var(--shift-layers) * 1);
}
#images #layer3, #images2 #layer3 {
  aspect-ratio: 7/1;
  width: 130%;
  left: calc(-3px + var(--shift-layers) * 2);
}
#images > *, #images2 > * {
  filter: drop-shadow(0 -2px 5px rgba(0, 0, 0, 0.42));
}

#images {
  transform: scaleY(-1);
}

@media (max-width: 600px) {
  :root {
    --project-card-title: 20px;
    --nav-bg-font: 40px;
    --nav-sm-font: 24px;
    --modal-width: 100%;
    --modal-pad: 15px;
    --nav-filter-h: 100px;
    --shift-project: 400px;
    --nav-h: 50px;
  }

  .navContainer {
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }
  .navContainer .navElement {
    width: 100%;
    flex: 1;
  }
  .navContainer.shrink {
    height: var(--nav-h);
    background: rgba(132, 105, 244, 0.45);
  }
  .navContainer.shrink .navElement {
    height: 100%;
  }
  .navContainer.shrink .navElement.clickable {
    display: none;
  }

  .projectsContainer {
    height: calc(100vh - 145px);
    grid-template-columns: repeat(auto-fit, 250px);
    grid-template-rows: repeat(auto-fill, 240px);
    gap: 10px;
  }
  .projectsContainer.shiftDown {
    height: calc(100vh - 450px);
  }
  .projectsContainer .projectSmall {
    height: 230px;
  }
  .projectsContainer .projectSmall .previewImage {
    transition: 0.5s;
    width: 100%;
  }

  .tagsContainer {
    top: 10px;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.53);
    height: 30px;
  }
  .tagsContainer .tagTitle {
    font-size: 20px;
  }

  .modalContainer .modalProject .modalName {
    text-align: center;
    margin: 20px 0 20px 0;
  }
  .modalContainer .modalProject .modalDesc {
    font-size: 18px;
  }
  .modalContainer .modalProject .smallTitle {
    margin: 20px;
  }
}
@media (max-width: 400px) {
  #images {
    margin-bottom: 50%;
  }

  .App {
    height: 90vh;
  }

  .aboutContainer .aboutPage {
    margin-top: 0 !important;
    padding-bottom: 60px;
  }
  .aboutContainer .aboutPage .introduction {
    margin-top: 100px;
  }

  #images2 {
    display: none;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  :root {
    --nav-bg-font: 32px;
    --nav-sm-font: 28px;
    --modal-width: 100%;
    --modal-pad: 15px;
  }
}
@media (min-width: 600px) and (max-width: 800px) and (min-width: 700px) {
  :root {
    --modal-pad: 30px;
    --modal-width: 700px;
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  :root {
    --nav-sm-font: 32px;
    --nav-bg-font: 42px;
  }
}
@media (min-width: 1200px) {
  .projectsContainer {
    left: calc((100vw - 1200px) / 2);
  }

  .tagsContainer {
    right: calc((100vw - 1200px) / 2);
  }
  .tagsContainer.active {
    left: calc((100vw - 1200px) / 2);
  }
}

/*# sourceMappingURL=App.css.map */
